---
layout: default
---

<main>
    <nav class="container" id="sidebar">
        <nav class="nav flex-md-column flex-row justify-content-between">
            <li class="nav-item"><a class="nav-link pl-3" href="#One">One</a></li>
            <li class="nav-item"><a class="nav-link pl-3" href="#Two">Two</a></li>
            <li class="nav-item"><a class="nav-link pl-3" href="#Three">Three</a></li>
            <li class="nav-item"><a class="nav-link pl-5" href="#Threeone"> 3-1</a></li>
            <li class="nav-item"><a class="nav-link pl-5"" href=" #Threetwo"> 3-2</a></li>
            <li class="nav-item"><a class="nav-link pl-3" href="#Four">Four</a></li>
        </nav>
    </nav>


    <div class="container yummain">


        <section id="One">
            <div class="container">
                <br>
                <div class="container bg-light recipe">

                    {% for yumpost in site.data.jjimdak %}
                    <h1>{{yumpost.title}}</h1>

                    <div class="container foodpic bg-light">
                        <p>There should be a food picture here</p>
                        <img src="{{site.baseurl}}/images/cat.jpeg" class="img-fluid" alt="" loading="lazy">
                        <p>This cat is not food</p>
                    </div>
                    <h2>Description</h2>

                    <p>{{yumpost.description}}</p>

                    <h2> Ingredients</h2>
                    <div class="row">
                        <div class="col">


                            <h3>Sauce</h3>

                            <ul>
                                {% assign ingredientsausey = yumpost.ingredientsause | split: ", " %}
                                {% for member in ingredientsausey %}
                                <li>{{ member }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="col">
                            <h3>{{yumpost.title}}</h3>
                            <ul>
                                {% assign ingredientmainy = yumpost.ingredientmain | split: ", " %}
                                {% for member in ingredientmainy %}
                                <li>{{ member }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <h2> Directions</h2>

                    <ol> {% assign directiony = yumpost.direction | split: " - " %}
                        {% for member in directiony %}
                        <li>{{ member }}</li>
                        {% endfor %}
                    </ol>

                    <p>ref: {{yumpost.source}}</p>

                    {% endfor %}

                </div>



            </div>


        </section>
        <section id="Two">
            <h5>Two</h5>
            <p>Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn
                deep v
                PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v
                taxidermy
                messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch
                tousled
                aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
                Shabby
                chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY
                90's
                blog.
            </p>

            <p>Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard
                sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade
                disrupt
                deep v.
                Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan
                brunch
                Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                forage
                fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>

        </section>


        <section id="Three">
            <h5>Three</h5>
            <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                Kickstarter
                artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan
                farm-to-table
                Williamsburg
                slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel
                whatever.
                Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh
                mi
                McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny
                pack
                art
                party Portland.</p>
        </section>

        <section id="Threeone">
            <h6>Three A</h6>
            <p>PBR narwhal sustainable mixtape swag wolf squid tote bag plus and them then Helvetica cray plaid,
                vegan
                brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's
                Shoreditch
                selfies,
                forage fingerstache food truck occupy YOLO Pitchfork fixie MDO of twitter fame iPhone fanny pack art
                party
                Portland. dd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic
                Bushwick
                artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice.
                Vice
                sustainable cardigan!</p>
        </section>

        <section id="Threetwo">
            <h6>Three B</h6>
            <p>Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                Banh
                mi
                McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone
                fanny
                pack
                art party Portland. PBR narwhal sustainable mixtape swag wolf squid tote bag. Godard sustainable you
                probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v.
                Meggings
                seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch
                Banksy
                leggings +1 direct trade. Wayfarers codeply PBR selfies. </p>
        </section>



        <section id="Four">
            <h5>4</h5>
            <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                Kickstarter
                artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan
                farm-to-table
                Williamsburg
                slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel
                whatever.
                Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh
                mi
                McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny
                pack
                art
                party Portland.</p>

        </section>



    </div>
</main>