  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class=" navbar-brand" href="{{site.baseurl}}/index.html">
          <img src="{{site.baseurl}}/images/penguinicon_blue.png" width="30" height="30"
              class="d-inline-block align-top" alt="" loading="lazy">
      </a>

      <a class="navbar-brand" href="{{site.baseurl}}/index.html">BOOYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div id="upnavbar" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/index.html">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/about.html">About <span
                          class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/cat.html">cat</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/yumyum.html">Yum yum</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      ETC
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="websites.html">Websites</a>
                      <a class="dropdown-item" href="program.html">programming</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </li>

          </ul>

      </div>
  </nav>