---
layout: default
---
<div id="sidebar">
  <div class="sidebar d-flex flex-column">
    <a href="yumyum.html" data-parent="#sidebar"> What to eat</a>



    <a href="#meatcollapse" class="list-group-item sidebarcolor" data-toggle="collapse" data-parent="#sidebar">Meat</a>
    <div class="collapse submenu" id="meatcollapse" data-parent="#sidebar">
      <a href="Chicken.html" class="list-group-item sidebarcolor">Chicken</a>
      <a href="Beef.html" class="list-group-item sidebarcolor">Beef</a>
      <a href="" class="list-group-item sidebarcolor">Pork</a>
    </div>




  </div>
</div>

<div class="yummain">
  {{content}}
</div>