.navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.jumboindex {
    background-color: #e4e3fc;
}


.jumboabout {
    background-color: rgb(243, 226, 204);
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}



html {
    scroll-behavior: smooth;
}


main>nav {
    position: sticky
}




#sidebar {
    width: 160px;
    height: 100%;
    position: fixed;
    background-color: #d8fadf;
    padding-top: 20px;
    left: 0;
}

#sidebar a {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(94, 93, 93);
    display: block;
}



#sidebar .nav-link.active,
#sidebar .nav-link:hover,
#sidebar .nav-link:focus {
    color: #060706;
}




.yummain {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
    height: 100%;
    background-color: rgb(255, 247, 217);
    height: calc(100vh - 50px);
    overflow: auto;
}

body {
    position: relative;
}